{
  "presets": [
    ["env", {
      "modules": false, // 应当设为false，即交由 Webpack 来处理模块化，通过其 TreeShaking 特性将有效减少打包出来的 JS 文件大小：
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime" // 避免编译后的输出重复
//    ["component", [ // 部分引入ele-ui
//      {
//        "libraryName": "element-ui",
//        "styleLibraryName": "theme-chalk"
//      }
//    ]]
  ],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["istanbul"]
    }
  }
}
